ItachiRobot/config.py
ItachiRobot/*.session
ItachiRobot/*.session-journal
ItachiRobot/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
ItachiRobot/modules/helper_funcs/temp.txt
ItachiRobot/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
Itachi.session-journal
updates.txt
*.exe